@font-face {
  font-family: "IranSans";
  src: url("/client/public/font/B_Yekan/Yekan.ttf") format("ttf"),
    url("/client/public/font/B_Yekan/Yekan.eot") format("eot"),
    url("/client/public/font/B_Yekan/Yekan.woff2") format("woff2"),
    url("//client/public/font/B_Yekan/Yekan.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html,
body {
  background-color: #0b1d26;
  font-family: "IranSans",;
}
